<h2>Add a new Zone</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            {{input type="text" value=model.name class="form-control" placeholder="The name of the Zone"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            {{input type="text" value=model.state class="form-control" placeholder="The state of the Zone"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
            {{input type="text" value=model.locaton class="form-control" placeholder="The specific location of the Zone"}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" {{action 'saveZone' model}}>Add zone to list</button>
        </div>
    </div>
</div>
