<div class="container">
    <div class="text text-center">
      <div class='row'>
        <h1 id="greeting">Welcome to First Tracks</h1>
    </div>
  </div>
  <ul>
    <div class='col-md-6 text-center'>
      <img class="media-object" src="#" alt="Welcome Skier">
      <h3>Would you like to see the zones?</h3>
      <li class='btn btn-info'><a href="/reports">Trail Index</a></li>
    </div>
    <div class='col-md-6 text-center'>
      <img class="media-object center" src="#" alt="Welcome Snowboarder">
      <h3> Or, add a trip report?</h3>
      <li class='btn btn-info'><a href="/reports/new">New Trip</a></li>
    </div>
  </ul>
</div>
