<h3>A community driven web application for backcountry users.</h3>
<h3>Real-time weather and trip information focused around evaluating risk in avalanche terrain.</h3>
<br>
<h4>The FirstTracks codebase is maintained by <a href="http://www.kaska.co" target="_blank">Kaska</a>.</h4>

{{outlet}}
