<h2>About First Tracks</h2>

<p>
  Weather, avalanche, and backcountry travel data for the snow community on a web platform that simplifies the user experience.
<br>
  The FirstTracks codebase is maintained by Aaron Careaga and Kaska.
</p>

{{#link-to "contact"}}Contact{{/link-to}}

{{outlet}}
