<h1>FirstTracks</h1>

<p>Community driven web application that provides backcountry users with
  real-time weather and trip information focused around evaluating risk
  in avalanche terrain.</p>

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}

{{filter-listing filteredList=filteredList
autoComplete=(action 'autoComplete') search=(action 'search')}}
{{#each model as |zone|}}
  {{mountain-listing mountain=zone}}
{{/each}}

<!-- {{#each model as |post|}}
  {{#trip-post title=post.title}}
    {{post.body}}
  {{/trip-post}}
{{/each}} -->

{{outlet}}
