<h1>Resources</h1>

<p>
  Please find an ongoing list of resources to improve your backcountry decision making toolkit below.
  Resources lsit below are not a substitute for in-person <a href="http://www.avtraining.org" target="_blank">AIARE courses</a> taught be professional with continous on the snow practice.
</p>

<h3>Avalanche Centers</h3>
<ul>
<li><a href="http://www.americanavalancheassociation.org/" target="_blank">American Avalanche Association</a></li>
<li><a href="http://www.avalanche.ca/" target="_blank">Canadian Avalanche Association</a></li>
<li><a href="http://www.nwac.us/" target="_blank">Northwest Avalanche Center</a></li>
<li><a href="http://www.idahopanhandleavalanche.org" target="_blank">Idaho Panhandle Avalanche Center</a></li>
<li><a href="http://www.avalanche.state.co.us" target="_blank">Colorado Avalanche Information Center</a></li>
<li><a href="http://utahavalanchecenter.org/" target="_blank">Utah Avalanche Centre</a></li>
<li><a href="http://esavalanche.org/" target="_blank">Eastern Sierra Avalanche Centre</a></li>
<li><a href="http://www.mtavalanche.com/" target="_blank">Gallatin National Forest Avalanche Center</a></li>
</ul>

<h3>Weather</h3>
<ul>
<li><a href="http://cliffmass.blogspot.com/">Cliff Mass Weather Blog</a></li>
<li><a href="http://www.cascadecrud.com/">Cascade Crud</a></li>
</ul>

<h3>Trip Planning</h3>
<ul>
<li><a href="http://www.backcountryskiingcanada.com/">Backcountry Skiing Canada</a></li>
<li><a href="http://www.friendsrevglacier.com/">Friends of Revelstoke &amp; Glacier National Park</a></li>
<li><a href="http://berthoudpass.org/">Friends of Berthoud Pass</a></li>
<li><a href="http://www.turns-all-year.com/">Turns All Year</a></li>
<li><a href="http://www.tetongravity.com/forums">Teton Gravity Research Forums</a></li>
<li><a href="http://www.sidecountryski.com/">Sidecountry Skiers, Backcountry Skiers</a></li>
</ul>
