<h1>Resources</h1>

<p>
  Please find an ongoing list of resources to improve your backcountry decision making toolkit below.
  Resources lsit below are not a substitute for in-person <a href="http://www.avtraining.org" target="_blank">courses</a> taught be trained professional and continoues on the snow practice.
</p>

<h3>Avalanche Centers</h3>
<ul>
  <li><a href="http://www.avalanche.org" target="_blank">American Avalanche Association </a></li>
  <li><a href="http://www.idahopanhandleavalanche.org" target="_blank">IPAC (Idaho)</a></li>
  <li><a href="http://www.idahoepanhandleavalanche.org" target="_blank">CAIC (Colorado)</a></li>
  <li><a href="http://www.idahoepanhandleavalanche.org" target="_blank">NWAC (Washington)</a></li>
  <li><a href="http://www.idahoepanhandleavalanche.org" target="_blank">CAIC (Utah)</a></li>
</ul>

<h3>Weather</h3>

<h3>Trip Planning</h3>

<h3>Online Resources</h3>
