<h1>Zones</h1>

<div class="well">
    <ul class="nav nav-pills">
      {{#link-to 'zones.index' tagName="li"}}<a href="">All</a>{{/link-to}}
      {{#link-to 'zones.new' tagName="li"}}<a href="">New</a>{{/link-to}}
    </ul>
</div>

{{outlet}}
